[Unit]
Description=A scrollable-tiling Wayland compositor
BindsTo=graphical-session.target
Before=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target

[Service]
Slice=session.slice
Type=notify
ExecStartPre=/usr/bin/os session-setup --pre
ExecStart=/usr/bin/niri --session
