#########################################
# THIS FILE IS DYNAMICALLY GENERATED    #
# Run the following to update the file: #
#   $ ./make.py workflow                #
#########################################
name: Build images
on:
  pull_request: &on-filter
    branches:
      - master
    paths:
      - .github/workflows/tool-builder.yaml
      - .github/workflows/build.yaml
      - .github/workflows/build-variant.yaml
      - .github/workflows/iso.yaml
      - .github/workflows/manifest.yaml
      - ".github/actions/**"
      - "tools/dockerfile2llbjson/**"
      - "tools/builder/**"
      - "make/__main__.py"
      - "make/__init__.py"
      - "make/iso.py"
      - "make/scan.py"
      - "make/pull.py"
      - "make/push.py"
      - "make/build.py"
      - "make/checkupdates.py"
      - "make/manifest.py"
      - "make/check.py"
      - "make/workflow.py"
      - "overlay/**"
      - "templates/**"
      - "variants/**"
      - make.py
      - seccomp.json
      - .containerignore
  push: *on-filter
  workflow_dispatch:
  schedule:
    - cron: "0 23 * * *"

concurrency:
  group: build-${{ github.ref_name }}
  cancel-in-progress: true

jobs:

  ######################################
  #             UNIQUE             #
  ######################################

  notifications:
    name: Clear notifications
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Clean cancellation notifications
        uses: ./.github/actions/clean-cancelled-notifications
        with:
          pat: ${{ secrets.NOTIFICATION_PAT }}

  builder:
    name: Build builder image
    uses: ./.github/workflows/tool-builder.yaml
    secrets: inherit
    permissions:
      contents: read
      packages: write

  check:
    name: Ensure config is valid
    runs-on: ubuntu-latest
    needs: builder
    permissions:
      contents: read
      packages: read
    container:
      image: ghcr.io/eeems/arkes-builder:${{ needs.builder.outputs.unique_tag }}
      options: >-
        --privileged
        --security-opt seccomp=unconfined
        --security-opt apparmor=unconfined
        --cap-add=SYS_ADMIN
        --cap-add=NET_ADMIN
        --device /dev/fuse
        --tmpfs /tmp
        --tmpfs /run
        --userns=host
        --volume=/:/run/host
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Cache venv
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ needs.builder.outputs.unique_tag }}-${{ hashFiles('make/check.py') }}
      - name: Cache go
        uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: go-${{ hashFiles('**/go.mod') }}-${{ hashFiles('**/go.sum') }}
      - name: Ensure config is valid
        shell: bash
        run: |
          set -e
          ./make.py check
          ./make.py workflow
          git config --global --add safe.directory "$(realpath .)"
          if [[ -n "$(git status -s)" ]]; then
            echo "Please run ./make.py workflow, commit the changes, and try again."
            git status -s
            exit 1
          fi
        env:
          TMPDIR: ${{ runner.temp }}

  manifest:
    name: Generate manifest
    if: "!cancelled()"
    needs:
      - builder
      - atomic
      - atomic-nvidia
      - base
      - base-slim
      - eeems
      - eeems-nvidia
      - eeems-system76
      - gnome
      - kde
      - rootfs
    uses: ./.github/workflows/manifest.yaml
    secrets: inherit
    permissions: &permissions
      contents: write
      actions: write
      packages: write
      security-events: write
    with:
      cache: false
      builder: ${{ needs.builder.outputs.unique_tag }}

  ######################################
  #             BUILD              #
  ######################################

  rootfs:
    name: Build eeems/arkes:rootfs image
    needs:
      - builder
      - check
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: rootfs
      push: ${{ github.event_name != 'pull_request' }}
      builder: ${{ needs.builder.outputs.unique_tag }}

  base:
    name: Build eeems/arkes:base image
    needs:
      - builder
      - rootfs
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: base
      push: ${{ github.event_name != 'pull_request' }}
      builder: ${{ needs.builder.outputs.unique_tag }}
      updates: ${{ fromJson(needs['rootfs'].outputs.updates) }}
      artifact: rootfs
      digest: ${{ needs['rootfs'].outputs.digest }}

  atomic:
    name: Build eeems/arkes:atomic image
    needs:
      - builder
      - base
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic
      push: ${{ github.event_name != 'pull_request' }}
      builder: ${{ needs.builder.outputs.unique_tag }}
      updates: ${{ fromJson(needs['base'].outputs.updates) }}
      artifact: base
      digest: ${{ needs['base'].outputs.digest }}

  atomic-nvidia:
    name: Build eeems/arkes:atomic-nvidia image
    needs:
      - builder
      - atomic
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic-nvidia
      push: ${{ github.event_name != 'pull_request' }}
      builder: ${{ needs.builder.outputs.unique_tag }}
      updates: ${{ fromJson(needs['atomic'].outputs.updates) }}
      artifact: atomic
      digest: ${{ needs['atomic'].outputs.digest }}

  base-slim:
    name: Build eeems/arkes:base-slim image
    needs:
      - builder
      - base
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: base-slim
      push: ${{ github.event_name != 'pull_request' }}
      builder: ${{ needs.builder.outputs.unique_tag }}
      updates: ${{ fromJson(needs['base'].outputs.updates) }}
      artifact: base
      digest: ${{ needs['base'].outputs.digest }}

  eeems:
    name: Build eeems/arkes:eeems image
    needs:
      - builder
      - atomic
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems
      push: ${{ github.event_name != 'pull_request' }}
      builder: ${{ needs.builder.outputs.unique_tag }}
      updates: ${{ fromJson(needs['atomic'].outputs.updates) }}
      artifact: atomic
      digest: ${{ needs['atomic'].outputs.digest }}

  eeems-nvidia:
    name: Build eeems/arkes:eeems-nvidia image
    needs:
      - builder
      - eeems
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-nvidia
      push: ${{ github.event_name != 'pull_request' }}
      builder: ${{ needs.builder.outputs.unique_tag }}
      updates: ${{ fromJson(needs['eeems'].outputs.updates) }}
      artifact: eeems
      digest: ${{ needs['eeems'].outputs.digest }}

  eeems-system76:
    name: Build eeems/arkes:eeems-system76 image
    needs:
      - builder
      - eeems
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-system76
      push: ${{ github.event_name != 'pull_request' }}
      builder: ${{ needs.builder.outputs.unique_tag }}
      updates: ${{ fromJson(needs['eeems'].outputs.updates) }}
      artifact: eeems
      digest: ${{ needs['eeems'].outputs.digest }}

  gnome:
    name: Build eeems/arkes:gnome image
    needs:
      - builder
      - base
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: gnome
      push: ${{ github.event_name != 'pull_request' }}
      builder: ${{ needs.builder.outputs.unique_tag }}
      updates: ${{ fromJson(needs['base'].outputs.updates) }}
      artifact: base
      digest: ${{ needs['base'].outputs.digest }}

  kde:
    name: Build eeems/arkes:kde image
    needs:
      - builder
      - base
    uses: ./.github/workflows/build-variant.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: kde
      push: ${{ github.event_name != 'pull_request' }}
      builder: ${{ needs.builder.outputs.unique_tag }}
      updates: ${{ fromJson(needs['base'].outputs.updates) }}
      artifact: base
      digest: ${{ needs['base'].outputs.digest }}

  ######################################
  #             SCAN               #
  ######################################

  scan_rootfs:
    name: Scan image for rootfs
    if: github.event_name != 'pull_request' || fromJson(needs['rootfs'].outputs.updates)
    needs:
      - builder
      - rootfs
    uses: ./.github/workflows/scan.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: rootfs
      push: ${{ github.event_name != 'pull_request' }}
      artifact: ${{ fromJson(needs['rootfs'].outputs.updates) && 'rootfs' || '' }}
      digest: ${{ needs['rootfs'].outputs.digest }}
      builder: ${{ needs.builder.outputs.unique_tag }}

  scan_base:
    name: Scan image for base
    if: github.event_name != 'pull_request' || fromJson(needs['base'].outputs.updates)
    needs:
      - builder
      - base
    uses: ./.github/workflows/scan.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: base
      push: ${{ github.event_name != 'pull_request' }}
      artifact: ${{ fromJson(needs['base'].outputs.updates) && 'base' || '' }}
      digest: ${{ needs['base'].outputs.digest }}
      builder: ${{ needs.builder.outputs.unique_tag }}

  scan_atomic:
    name: Scan image for atomic
    if: github.event_name != 'pull_request' || fromJson(needs['atomic'].outputs.updates)
    needs:
      - builder
      - atomic
    uses: ./.github/workflows/scan.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic
      push: ${{ github.event_name != 'pull_request' }}
      artifact: ${{ fromJson(needs['atomic'].outputs.updates) && 'atomic' || '' }}
      digest: ${{ needs['atomic'].outputs.digest }}
      builder: ${{ needs.builder.outputs.unique_tag }}

  scan_atomic-nvidia:
    name: Scan image for atomic-nvidia
    if: github.event_name != 'pull_request' || fromJson(needs['atomic-nvidia'].outputs.updates)
    needs:
      - builder
      - atomic-nvidia
    uses: ./.github/workflows/scan.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic-nvidia
      push: ${{ github.event_name != 'pull_request' }}
      artifact: ${{ fromJson(needs['atomic-nvidia'].outputs.updates) && 'atomic-nvidia' || '' }}
      digest: ${{ needs['atomic-nvidia'].outputs.digest }}
      builder: ${{ needs.builder.outputs.unique_tag }}

  scan_base-slim:
    name: Scan image for base-slim
    if: github.event_name != 'pull_request' || fromJson(needs['base-slim'].outputs.updates)
    needs:
      - builder
      - base-slim
    uses: ./.github/workflows/scan.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: base-slim
      push: ${{ github.event_name != 'pull_request' }}
      artifact: ${{ fromJson(needs['base-slim'].outputs.updates) && 'base-slim' || '' }}
      digest: ${{ needs['base-slim'].outputs.digest }}
      builder: ${{ needs.builder.outputs.unique_tag }}

  scan_eeems:
    name: Scan image for eeems
    if: github.event_name != 'pull_request' || fromJson(needs['eeems'].outputs.updates)
    needs:
      - builder
      - eeems
    uses: ./.github/workflows/scan.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems
      push: ${{ github.event_name != 'pull_request' }}
      artifact: ${{ fromJson(needs['eeems'].outputs.updates) && 'eeems' || '' }}
      digest: ${{ needs['eeems'].outputs.digest }}
      builder: ${{ needs.builder.outputs.unique_tag }}

  scan_eeems-nvidia:
    name: Scan image for eeems-nvidia
    if: github.event_name != 'pull_request' || fromJson(needs['eeems-nvidia'].outputs.updates)
    needs:
      - builder
      - eeems-nvidia
    uses: ./.github/workflows/scan.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-nvidia
      push: ${{ github.event_name != 'pull_request' }}
      artifact: ${{ fromJson(needs['eeems-nvidia'].outputs.updates) && 'eeems-nvidia' || '' }}
      digest: ${{ needs['eeems-nvidia'].outputs.digest }}
      builder: ${{ needs.builder.outputs.unique_tag }}

  scan_eeems-system76:
    name: Scan image for eeems-system76
    if: github.event_name != 'pull_request' || fromJson(needs['eeems-system76'].outputs.updates)
    needs:
      - builder
      - eeems-system76
    uses: ./.github/workflows/scan.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-system76
      push: ${{ github.event_name != 'pull_request' }}
      artifact: ${{ fromJson(needs['eeems-system76'].outputs.updates) && 'eeems-system76' || '' }}
      digest: ${{ needs['eeems-system76'].outputs.digest }}
      builder: ${{ needs.builder.outputs.unique_tag }}

  scan_gnome:
    name: Scan image for gnome
    if: github.event_name != 'pull_request' || fromJson(needs['gnome'].outputs.updates)
    needs:
      - builder
      - gnome
    uses: ./.github/workflows/scan.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: gnome
      push: ${{ github.event_name != 'pull_request' }}
      artifact: ${{ fromJson(needs['gnome'].outputs.updates) && 'gnome' || '' }}
      digest: ${{ needs['gnome'].outputs.digest }}
      builder: ${{ needs.builder.outputs.unique_tag }}

  scan_kde:
    name: Scan image for kde
    if: github.event_name != 'pull_request' || fromJson(needs['kde'].outputs.updates)
    needs:
      - builder
      - kde
    uses: ./.github/workflows/scan.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: kde
      push: ${{ github.event_name != 'pull_request' }}
      artifact: ${{ fromJson(needs['kde'].outputs.updates) && 'kde' || '' }}
      digest: ${{ needs['kde'].outputs.digest }}
      builder: ${{ needs.builder.outputs.unique_tag }}

  ######################################
  #             ISO                #
  ######################################

  iso_base:
    name: Generate iso for base
    needs:
      - builder
      - base
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: base
      artifact: base
      digest: ${{ needs['base'].outputs.digest }}
      pull: ${{ github.event_name != 'pull_request' && fromJson(needs['base'].outputs.updates) }}
      push: ${{ github.event_name != 'pull_request' }}
      builder: ${{ needs.builder.outputs.unique_tag }}

  iso_atomic:
    name: Generate iso for atomic
    needs:
      - builder
      - atomic
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic
      artifact: atomic
      digest: ${{ needs['atomic'].outputs.digest }}
      pull: ${{ github.event_name != 'pull_request' && fromJson(needs['atomic'].outputs.updates) }}
      push: ${{ github.event_name != 'pull_request' }}
      builder: ${{ needs.builder.outputs.unique_tag }}

  iso_atomic-nvidia:
    name: Generate iso for atomic-nvidia
    needs:
      - builder
      - atomic-nvidia
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: atomic-nvidia
      artifact: atomic-nvidia
      digest: ${{ needs['atomic-nvidia'].outputs.digest }}
      pull: ${{ github.event_name != 'pull_request' && fromJson(needs['atomic-nvidia'].outputs.updates) }}
      push: ${{ github.event_name != 'pull_request' }}
      builder: ${{ needs.builder.outputs.unique_tag }}

  iso_base-slim:
    name: Generate iso for base-slim
    needs:
      - builder
      - base-slim
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: base-slim
      artifact: base-slim
      digest: ${{ needs['base-slim'].outputs.digest }}
      pull: ${{ github.event_name != 'pull_request' && fromJson(needs['base-slim'].outputs.updates) }}
      push: ${{ github.event_name != 'pull_request' }}
      builder: ${{ needs.builder.outputs.unique_tag }}

  iso_eeems:
    name: Generate iso for eeems
    needs:
      - builder
      - eeems
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems
      artifact: eeems
      digest: ${{ needs['eeems'].outputs.digest }}
      pull: ${{ github.event_name != 'pull_request' && fromJson(needs['eeems'].outputs.updates) }}
      push: ${{ github.event_name != 'pull_request' }}
      builder: ${{ needs.builder.outputs.unique_tag }}

  iso_eeems-nvidia:
    name: Generate iso for eeems-nvidia
    needs:
      - builder
      - eeems-nvidia
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-nvidia
      artifact: eeems-nvidia
      digest: ${{ needs['eeems-nvidia'].outputs.digest }}
      pull: ${{ github.event_name != 'pull_request' && fromJson(needs['eeems-nvidia'].outputs.updates) }}
      push: ${{ github.event_name != 'pull_request' }}
      builder: ${{ needs.builder.outputs.unique_tag }}

  iso_eeems-system76:
    name: Generate iso for eeems-system76
    needs:
      - builder
      - eeems-system76
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: eeems-system76
      artifact: eeems-system76
      digest: ${{ needs['eeems-system76'].outputs.digest }}
      pull: ${{ github.event_name != 'pull_request' && fromJson(needs['eeems-system76'].outputs.updates) }}
      push: ${{ github.event_name != 'pull_request' }}
      builder: ${{ needs.builder.outputs.unique_tag }}

  iso_gnome:
    name: Generate iso for gnome
    needs:
      - builder
      - gnome
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: gnome
      artifact: gnome
      digest: ${{ needs['gnome'].outputs.digest }}
      pull: ${{ github.event_name != 'pull_request' && fromJson(needs['gnome'].outputs.updates) }}
      push: ${{ github.event_name != 'pull_request' }}
      builder: ${{ needs.builder.outputs.unique_tag }}

  iso_kde:
    name: Generate iso for kde
    needs:
      - builder
      - kde
    uses: ./.github/workflows/iso.yaml
    secrets: inherit
    permissions: *permissions
    with:
      variant: kde
      artifact: kde
      digest: ${{ needs['kde'].outputs.digest }}
      pull: ${{ github.event_name != 'pull_request' && fromJson(needs['kde'].outputs.updates) }}
      push: ${{ github.event_name != 'pull_request' }}
      builder: ${{ needs.builder.outputs.unique_tag }}
